{% extends 'base.html'%}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        Star Wars is a science-fiction franchise comprising movies, books, comics, video games, toys, and animated shows. It is a fictional universe created by George Lucas. The Star Wars story employs archetypal motifs common to science fiction, political climax and classical mythology, as well as musical motifs of those aspects. As one of the foremost examples of the space opera subgenre of science fiction, Star Wars has become part of mainstream popular culture, as well as being one of the highest-grossing series of all time. It is currently the second highest-grossing film series behind only the Marvel Cinematic Universe and also the second highest-grossing media franchise of all time (with only the Japanese franchise Pokémon outranking it).
    </p>

    {% for member in company %}
    

    <div class="row featurette">

        {% if loop.index %2 !=0 %}
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
            <p>
            {{ member.description }}
            </p>
        </div>
        <div class="col-md-5">
            <img class= "featurette-image img-fluid img-responsive" src="{{ member.image_source }}">
        </div>

        {% else %}
        <div class="col-md-5">
            <img class= "featurette-image img-fluid img-responsive" src="{{ member.image_source }}">
        </div>
        <div class="col-md-7">
            <h3><a href="/about/{{ member.url }}">{{ loop.index }}. {{ member.name }}</a></h3>
            <p>
            {{ member.description }}
            </p>
        </div>

        {% endif %}

    </div>

    {% if loop.index !=13 %}

    <hr class="featurette-divider">

    {% endif %}

    {% endfor %}

{% endblock %}